*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

container{
    background-color: white;
}

body{
    background-image: url(img1.png);
    padding-top: 100px;
    border-radius: 100px;
}

.cabecalho{
    padding-top: 5px;
    border-radius: 10px;
    background-color: midnightblue;
    align-items: center;
    display: flex;
    text-align: left;
    color: rgb(255, 0, 242);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.conteudo{
    background-color: rgb(205, 151, 255);
    align-items: center;
    display: flex;
    border-radius: 0px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

.check{
    font-weight: bold;
    width: 30%;
}


img{
    margin-right: 50px;
    width: 100px;
    text-align: center;
    height: 100px;
}

.final{
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(205, 151, 255);
    align-items: center;
    display: flex;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}